<html>

<head th:replace = "~{base :: head}"></head>

    <body>

        <div class="nav mb-3">
            <span class = "logo">ByteBank</span>
        </div>

        <div class = "container">

            <h2 class = "text-center mb-3">Seja Bem-Vindo!</h2>
            
            <div class = "card mb-3" th:each = "conta : ${contas}">
               
                <div class = "card-header">Cliente</div>

                    <div class = "card-body">
                        <div class = "row">
                            <div class = "col-6">Nome: <span class = "card-text" th:text = "${conta.getCliente().getNome()}"></span></div>

                            <div class = "col-6">Agência: <span class = "card-text" th:text = "${conta.agencia}"></span></div>
                        </div>

                        <div class = "row">
                            <div class = "col-6">Número da Conta: <span  class = "card-text" th:text = "${conta.numeroConta}"></span></div>
                
                            <div class = "col-6">Saldo: <span  class = "card-text" th:text = "${#numbers.formatCurrency(conta.saldo)}"></span></div>
                        </div>
                    </div>
            </div>
        </div>
        
        <div class = "container">
            <div class = "card">
                <div class = "card-header text-center">Qual operação deseja realizar?</div>
                    <div class = "card-body">
                        <div class = "row">
                            <div class = "col-6 text-center">
                                <a href = "/caixa/saque"><button class="btn btn-dark">Saque</button></a>
                            </div>

                            <div class = "col-6 text-center">
                                <a href = "/caixa/deposito"><button class="btn btn-dark">Depósito</button></a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        
    </body>

</html>