<html>

<head th:replace = "~{base :: head}"></head>

    <body>

        <div th:replace = "~{nav :: bar}"></div>
        
        <div class="container">
            <div class="card">
                <div class="class-body">
                    <h1 class = "text-center mb-3">Operação realizada com sucesso!</h1>

                    <div class= "text-center">
                        <a href="/home"><button class = "btn btn-dark">Retornar para a home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>